<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <p align="center">Add Stock !</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Name" [(ngModel)]="newStock.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Manufacture" [(ngModel)]="newStock.manufacture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Price" [(ngModel)]="newStock.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Quantity" [(ngModel)]="newStock.quantity"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="addStock()" class="ion-submit-button" >Add Item</ion-button>
</ion-content>

